<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../components/styles.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="./styles.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Template 1</title>
</head>
<body>
    <header>
        <div id="hamburger1" onclick="Switch1()">
            <div id="b1-comp1"></div>
            <div id="b2-comp1"></div>
            <div id="b3-comp1"></div>
        </div>
        <div class="logo">
            <i class="bi bi-card-image"></i>
            <h1>Logo</h1>
        </div>
    </header>
    <!-- Side Nav-->
    <aside id="nav1">
        <nav>
            <ul>
                <li class="link-set1"><a href="#about">About</a></li>
                <li class="link-set1"><a href="#ourteam">Our Team</a></li>
                <li class="link-set1"><a href="#products">Products</a></li>
                <li class="link-set1"><a href="#services">Services</a></li>
                <li class="link-set1"><a href="#footer">Contacts</a></li>
            </ul>
        </nav>
        <div id="off" onclick="Switch1()"></div>
    </aside>

    <main>
        <!-- About Banner-->
        <section id="about">
            <div class="banner1">
                <div class="slab-bh">
                    <div class="slab-b1">
                        <h1>We are</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio maxime id possimus eveniet ducimus doloribus amet consectetur maiores. Aliquid libero dolorem eum architecto excepturi quis, aperiam est odio minus unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam a labore expedita dolores laborum saepe quidem voluptas tempora molestiae voluptates, repellendus quos totam eos vitae fuga dolore earum possimus assumenda! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, harum quod voluptate explicabo temporibus sapiente, incidunt laudantium, earum deleniti cumque consequatur unde accusamus repellat praesentium fugiat laboriosam quidem blanditiis provident.</p>
                    </div>
                    <div class="slab-b1">
                        <h1>What we do</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio maxime id possimus eveniet ducimus doloribus amet consectetur maiores. Aliquid libero dolorem eum architecto excepturi quis, aperiam est odio minus unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam a labore expedita dolores laborum saepe quidem voluptas tempora molestiae voluptates, repellendus quos totam eos vitae fuga dolore earum possimus assumenda! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, harum quod voluptate explicabo temporibus sapiente, incidunt laudantium, earum deleniti cumque consequatur unde accusamus repellat praesentium fugiat laboriosam quidem blanditiis provident.</p>
                    </div>
                    <div class="slab-b1">
                        <h1>Why us</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio maxime id possimus eveniet ducimus doloribus amet consectetur maiores. Aliquid libero dolorem eum architecto excepturi quis, aperiam est odio minus unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam a labore expedita dolores laborum saepe quidem voluptas tempora molestiae voluptates, repellendus quos totam eos vitae fuga dolore earum possimus assumenda! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, harum quod voluptate explicabo temporibus sapiente, incidunt laudantium, earum deleniti cumque consequatur unde accusamus repellat praesentium fugiat laboriosam quidem blanditiis provident.</p>
                    </div>
                </div>
                <div class="slab-nav1">
                    <div class="slab-nav1-g" onclick="Banner1(0)">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="slab-nav1-g" onclick="Banner1(1)">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="slab-nav1-g" onclick="Banner1(2)">
                        <i class="bi bi-card-image"></i>
                    </div>
                </div>
            </div>
        </section>

        <!-- Vision, Mission, Goals -->
        <section>
            <div class="card1">
                <div class="card1-sect2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus, a, in nisi distinctio, aut ipsum commodi ad odio delectus fugit soluta id officia voluptas. Non quis dolorem repudiandae? Assumenda!</p>
                </div>
                <div class="card1-sect1">
                    <i class="bi bi-card-image"></i>
                    <h1>Vision</h1>
                </div>
            </div>
            <div class="card1">
                <div class="card1-sect2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus, a, in nisi distinctio, aut ipsum commodi ad odio delectus fugit soluta id officia voluptas. Non quis dolorem repudiandae? Assumenda!</p>
                </div>
                <div class="card1-sect1">
                    <i class="bi bi-card-image"></i>
                    <h1>Mission</h1>
                </div>
            </div>
            <div class="card1">
                <div class="card1-sect2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus, a, in nisi distinctio, aut ipsum commodi ad odio delectus fugit soluta id officia voluptas. Non quis dolorem repudiandae? Assumenda!</p>
                </div>
                <div class="card1-sect1">
                    <i class="bi bi-card-image"></i>
                    <h1>Goals</h1>
                </div>
            </div>
        </section>

        <!-- Team -->
        <section id="ourteam" class="special1">
            <h1>Our Team</h1>
            <div class="struct1-row">
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
            </div>
            <hr class="struct1-sep">
            <div class="struct1-row">
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
            </div>
            <hr class="struct1-sep">
            <div class="struct1-row">
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
                <div class="card2">
                    <div class="img-card2">
                        <i class="bi bi-card-image"></i>
                    </div>
                    <div class="info-card2">
                        <h1>Member Name</h1>
                        <h3>Member Role</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials -->
        <section class="special2">
            <div class="card3" onclick="ClickCard1(0)">
                <div class="img-card3">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card3">
                    <p class="card3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur tempora sunt ut nemo suscipit quae fugiat quos debitis. Repellendus a maiores asperiores magni nam quo enim quos at impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas minus illum sit repudiandae dolor ipsum, assumenda libero illo asperiores reprehenderit eos suscipit vitae rem perspiciatis officia consequatur, minima incidunt facere!</p>
                </div>
            </div><div class="card3" onclick="ClickCard1(1)">
                <div class="img-card3">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card3">
                    <p class="card3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur tempora sunt ut nemo suscipit quae fugiat quos debitis. Repellendus a maiores asperiores magni nam quo enim quos at impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas minus illum sit repudiandae dolor ipsum, assumenda libero illo asperiores reprehenderit eos suscipit vitae rem perspiciatis officia consequatur, minima incidunt facere!</p>
                </div>
            </div><div class="card3" onclick="ClickCard1(2)">
                <div class="img-card3">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card3">
                    <p class="card3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur tempora sunt ut nemo suscipit quae fugiat quos debitis. Repellendus a maiores asperiores magni nam quo enim quos at impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas minus illum sit repudiandae dolor ipsum, assumenda libero illo asperiores reprehenderit eos suscipit vitae rem perspiciatis officia consequatur, minima incidunt facere!</p>
                </div>
            </div><div class="card3" onclick="ClickCard1(3)">
                <div class="img-card3">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card3">
                    <p class="card3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur tempora sunt ut nemo suscipit quae fugiat quos debitis. Repellendus a maiores asperiores magni nam quo enim quos at impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas minus illum sit repudiandae dolor ipsum, assumenda libero illo asperiores reprehenderit eos suscipit vitae rem perspiciatis officia consequatur, minima incidunt facere!</p>
                </div>
            </div><div class="card3" onclick="ClickCard1(4)">
                <div class="img-card3">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card3">
                    <p class="card3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur tempora sunt ut nemo suscipit quae fugiat quos debitis. Repellendus a maiores asperiores magni nam quo enim quos at impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas minus illum sit repudiandae dolor ipsum, assumenda libero illo asperiores reprehenderit eos suscipit vitae rem perspiciatis officia consequatur, minima incidunt facere!</p>
                </div>
            </div><div class="card3" onclick="ClickCard1(5)">
                <div class="img-card3">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card3">
                    <p class="card3-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tenetur tempora sunt ut nemo suscipit quae fugiat quos debitis. Repellendus a maiores asperiores magni nam quo enim quos at impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas minus illum sit repudiandae dolor ipsum, assumenda libero illo asperiores reprehenderit eos suscipit vitae rem perspiciatis officia consequatur, minima incidunt facere!</p>
                </div>
            </div>
        </section>

        <!-- Product -->
        <section id="products" class="special3">
            <div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div><div class="card4">
                <i class="bi bi-card-image"></i>
                <div class="info-card4">
                    <p>Item</p>
                    <p>Price</p>
                    <p>Cat</p>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="services">
            <div class="card1">
                <div class="card1-sect2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus, a, in nisi distinctio, aut ipsum commodi ad odio delectus fugit soluta id officia voluptas. Non quis dolorem repudiandae? Assumenda!</p>
                </div>
                <div class="card1-sect1">
                    <i class="bi bi-card-image"></i>
                    <h1>Sevice1</h1>
                </div>
            </div>
            <div class="card1">
                <div class="card1-sect2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus, a, in nisi distinctio, aut ipsum commodi ad odio delectus fugit soluta id officia voluptas. Non quis dolorem repudiandae? Assumenda!</p>
                </div>
                <div class="card1-sect1">
                    <i class="bi bi-card-image"></i>
                    <h1>Sevice2</h1>
                </div>
            </div>
            <div class="card1">
                <div class="card1-sect2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus, a, in nisi distinctio, aut ipsum commodi ad odio delectus fugit soluta id officia voluptas. Non quis dolorem repudiandae? Assumenda!</p>
                </div>
                <div class="card1-sect1">
                    <i class="bi bi-card-image"></i>
                    <h1>Sevice3</h1>
                </div>
            </div>
            <div class="card1">
                <div class="card1-sect2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus, a, in nisi distinctio, aut ipsum commodi ad odio delectus fugit soluta id officia voluptas. Non quis dolorem repudiandae? Assumenda!</p>
                </div>
                <div class="card1-sect1">
                    <i class="bi bi-card-image"></i>
                    <h1>Sevice4</h1>
                </div>
            </div>
            <div class="card1">
                <div class="card1-sect2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium repellendus, a, in nisi distinctio, aut ipsum commodi ad odio delectus fugit soluta id officia voluptas. Non quis dolorem repudiandae? Assumenda!</p>
                </div>
                <div class="card1-sect1">
                    <i class="bi bi-card-image"></i>
                    <h1>Sevice5</h1>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer1">
        <div class="info-footer1">
            <div class="links-footer1">
                <p class="link-footer1"><i class="bi bi-whatsapp"></i><a>0662067094</a></p>
                <p class="link-footer1"><i class="bi bi-facebook"></i><a>Hashira Mgcina</a></p>
                <p class="link-footer1"><i class="bi bi-telephone"></i><a>0662067094</a></p>
                <p class="link-footer1"><i class="bi bi-geo-alt-fill"></i><a>10 Drakensberg<br> Carters Glen<br> Kimberley<br>8301</a></p>
            </div>
            <div>
                <p>Author: <a>Ntsikayomzi Phenyo Ngcakani</a></p>
            </div>
        </div>
        <div class="email-footer1">
            <form>
                <fieldset>
                    <legend><h1>Send an Inquerie</h1></legend>
                    <label>Name:<input type="text" name="name" id="name"></label>
                    <label>Email:<input type="email" name="email" id="email"></label>
                    <label>Inquire:<textarea name="inquerie" id="message" rows="5" cols="50"></textarea></label>
                    <button type="button" class="button-footer1" onclick="SendEmail()">Send</button>
                </fieldset>
            </form>
        </div>
    </footer>

    <script src="../../components/script.js"></script>
</body>
</html>