<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Nav 1</title>
</head>
<body>
    <div id="hamburger1" onclick="Switch1()">
        <div id="b1-comp1"></div>
        <div id="b2-comp1"></div>
        <div id="b3-comp1"></div>
    </div>
    <aside id="nav1">
        <nav>
            <ul>
                <li class="link-set1"><a href="#">Home</a></li>
                <li class="link-set1"><a href="#">About</a></li>
                <li class="link-set1"><a href="#">Products</a></li>
                <li class="link-set1"><a href="#">Contacts</a></li>
            </ul>
        </nav>
        <div id="off" onclick="Switch1()"></div>
    </aside>
    <script src="./script.js"></script>
</body>
</html>