<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Structure Tree 1</title>
</head>
<body>
    <section class="special">
        <h1>Our Team</h1>
        <div class="struct1-row">
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
        </div>
        <hr class="struct1-sep">
        <div class="struct1-row">
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
        </div>
        <hr class="struct1-sep">
        <div class="struct1-row">
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
            <div class="card2">
                <div class="img-card2">
                    <i class="bi bi-card-image"></i>
                </div>
                <div class="info-card2">
                    <h1>Member Name</h1>
                    <h3>Member Role</h3>
                </div>
            </div>
        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>